.game{
  background-color: rgb(32,32,32);
  display: flex;
  flex-direction: row;
}

.card{
  width: 160px;
  height: 120px;
  background-color: rgb(26,26,255);
  border-left: solid rgb(19,19,160) 10px;
  border-right: solid rgb(11,11,91) 10px;
  border-top: solid rgb(1,61,200) 10px;
  border-bottom: solid rgb(20,20,89) 10px;
  text-align: center;
  font-size: 100px;
  margin: 5px;
  padding: 10px;
  line-height: 120px;
}
.genre-column{

}

.card-text{
  
}